/* @import url('https://fonts.googleapis.com'); */

@import url('https://fonts.googleapis.com/css?family=Oswald');

body{
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: 'Oswald', ;
    font-weight: 300;
    line-height:1.6;
}
.card{
    position:relative;
    width:40%;
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.5);
}
.card__img{
    position: absolute;
    width:100%;
    height:100%;
    object-fit: cover;
    z-index: -1;
}
.card__body
{
    background: rgba(0,0,0,0.5);
    color: White;
    padding:3rem;
}
.card_title, .card_text{
    margin:0;
}

.card__title{
    font-size: 3rem;
    line-height:1;
    
    margin-bottom: 0.5em;
    position: relative;
    z-index: 1;
    color:black;
    padding:0.5rem;
}

.card__title::before{
 content: '';
 position:absolute ;
 background: yellow;
 /* height:100%; */
 width: calc(100% + 5rem);
 top:-0.1em;
 bottom:-.15em;
 left:-5rem;
 z-index:-1;
 box-shadow: inset -15px 0 10px -10px rgba(0,0,0,0.5);
}
.card__title::after{
    content: '';
 position:absolute ;
 background: yellow;
 /* height:100%; */
 
 top:-0.1em;
 bottom:-.15em;
 left:calc(100% + 3rem);
 width: 3rem;
 box-shadow: inset 12px 0 10px -10px rgba(0,0,0,0.5);
}

.card__text{
 text-align: right;
 font-size: 2rem;
}
.card::before, .card::after{
    content:'';
    position: absolute;
    border:1px dashed white;
}

.card::before{
    top: 1rem;
    bottom: 1rem;
    right:2rem;
}
.card::after{
    left:1rem;
    right:1rem;
    bottom:2rem;
}